src/META-INF/wsdl/localhost_8180/Coline_Ariporto/CargarDatos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Web_services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Web_services/" name="CargarDatos">
<types>
<xsd:schema>
<xsd:import namespace="http://Web_services/" schemaLocation="http://localhost:8180/Coline_Ariporto/CargarDatos?xsd=1"/>
</xsd:schema>
</types>
<message name="NewReserv">
<part name="parameters" element="tns:NewReserv"/>
</message>
<message name="NewReservResponse">
<part name="parameters" element="tns:NewReservResponse"/>
</message>
<message name="EliminarRuta">
<part name="parameters" element="tns:EliminarRuta"/>
</message>
<message name="EliminarRutaResponse">
<part name="parameters" element="tns:EliminarRutaResponse"/>
</message>
<message name="CargarRersev">
<part name="parameters" element="tns:CargarRersev"/>
</message>
<message name="CargarRersevResponse">
<part name="parameters" element="tns:CargarRersevResponse"/>
</message>
<message name="CargarDestinos">
<part name="parameters" element="tns:CargarDestinos"/>
</message>
<message name="CargarDestinosResponse">
<part name="parameters" element="tns:CargarDestinosResponse"/>
</message>
<message name="getImagHash">
<part name="parameters" element="tns:getImagHash"/>
</message>
<message name="getImagHashResponse">
<part name="parameters" element="tns:getImagHashResponse"/>
</message>
<message name="CargarRutas">
<part name="parameters" element="tns:CargarRutas"/>
</message>
<message name="CargarRutasResponse">
<part name="parameters" element="tns:CargarRutasResponse"/>
</message>
<message name="ModRuta">
<part name="parameters" element="tns:ModRuta"/>
</message>
<message name="ModRutaResponse">
<part name="parameters" element="tns:ModRutaResponse"/>
</message>
<message name="NewRuta">
<part name="parameters" element="tns:NewRuta"/>
</message>
<message name="NewRutaResponse">
<part name="parameters" element="tns:NewRutaResponse"/>
</message>
<message name="EliminarReserva">
<part name="parameters" element="tns:EliminarReserva"/>
</message>
<message name="EliminarReservaResponse">
<part name="parameters" element="tns:EliminarReservaResponse"/>
</message>
<message name="getListadoRutas">
<part name="parameters" element="tns:getListadoRutas"/>
</message>
<message name="getListadoRutasResponse">
<part name="parameters" element="tns:getListadoRutasResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="CargarDatos">
<operation name="NewReserv">
<input wsam:Action="http://Web_services/CargarDatos/NewReservRequest" message="tns:NewReserv"/>
<output wsam:Action="http://Web_services/CargarDatos/NewReservResponse" message="tns:NewReservResponse"/>
</operation>
<operation name="EliminarRuta">
<input wsam:Action="http://Web_services/CargarDatos/EliminarRutaRequest" message="tns:EliminarRuta"/>
<output wsam:Action="http://Web_services/CargarDatos/EliminarRutaResponse" message="tns:EliminarRutaResponse"/>
</operation>
<operation name="CargarRersev">
<input wsam:Action="http://Web_services/CargarDatos/CargarRersevRequest" message="tns:CargarRersev"/>
<output wsam:Action="http://Web_services/CargarDatos/CargarRersevResponse" message="tns:CargarRersevResponse"/>
</operation>
<operation name="CargarDestinos">
<input wsam:Action="http://Web_services/CargarDatos/CargarDestinosRequest" message="tns:CargarDestinos"/>
<output wsam:Action="http://Web_services/CargarDatos/CargarDestinosResponse" message="tns:CargarDestinosResponse"/>
</operation>
<operation name="getImagHash">
<input wsam:Action="http://Web_services/CargarDatos/getImagHashRequest" message="tns:getImagHash"/>
<output wsam:Action="http://Web_services/CargarDatos/getImagHashResponse" message="tns:getImagHashResponse"/>
</operation>
<operation name="CargarRutas">
<input wsam:Action="http://Web_services/CargarDatos/CargarRutasRequest" message="tns:CargarRutas"/>
<output wsam:Action="http://Web_services/CargarDatos/CargarRutasResponse" message="tns:CargarRutasResponse"/>
</operation>
<operation name="ModRuta">
<input wsam:Action="http://Web_services/CargarDatos/ModRutaRequest" message="tns:ModRuta"/>
<output wsam:Action="http://Web_services/CargarDatos/ModRutaResponse" message="tns:ModRutaResponse"/>
</operation>
<operation name="NewRuta">
<input wsam:Action="http://Web_services/CargarDatos/NewRutaRequest" message="tns:NewRuta"/>
<output wsam:Action="http://Web_services/CargarDatos/NewRutaResponse" message="tns:NewRutaResponse"/>
</operation>
<operation name="EliminarReserva">
<input wsam:Action="http://Web_services/CargarDatos/EliminarReservaRequest" message="tns:EliminarReserva"/>
<output wsam:Action="http://Web_services/CargarDatos/EliminarReservaResponse" message="tns:EliminarReservaResponse"/>
</operation>
<operation name="getListadoRutas">
<input wsam:Action="http://Web_services/CargarDatos/getListadoRutasRequest" message="tns:getListadoRutas"/>
<output wsam:Action="http://Web_services/CargarDatos/getListadoRutasResponse" message="tns:getListadoRutasResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Web_services/CargarDatos/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Web_services/CargarDatos/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="CargarDatosPortBinding" type="tns:CargarDatos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="NewReserv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CargarRersev">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CargarDestinos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImagHash">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CargarRutas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NewRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListadoRutas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CargarDatos">
<port name="CargarDatosPort" binding="tns:CargarDatosPortBinding">
<soap:address location="http://localhost:8180/Coline_Ariporto/CargarDatos"/>
</port>
</service>
</definitions>