xml-resources/web-service-references/CargarDatos/wsdl/localhost_8180/Coline_Ariporto/CargarDatos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://Web_services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Web_services/">

<xs:element name="CargarDestinos" type="tns:CargarDestinos"/>

<xs:element name="CargarDestinosResponse" type="tns:CargarDestinosResponse"/>

<xs:element name="CargarRersev" type="tns:CargarRersev"/>

<xs:element name="CargarRersevResponse" type="tns:CargarRersevResponse"/>

<xs:element name="CargarRutas" type="tns:CargarRutas"/>

<xs:element name="CargarRutasResponse" type="tns:CargarRutasResponse"/>

<xs:element name="EliminarReserva" type="tns:EliminarReserva"/>

<xs:element name="EliminarReservaResponse" type="tns:EliminarReservaResponse"/>

<xs:element name="EliminarRuta" type="tns:EliminarRuta"/>

<xs:element name="EliminarRutaResponse" type="tns:EliminarRutaResponse"/>

<xs:element name="ModRuta" type="tns:ModRuta"/>

<xs:element name="ModRutaResponse" type="tns:ModRutaResponse"/>

<xs:element name="NewReserv" type="tns:NewReserv"/>

<xs:element name="NewReservResponse" type="tns:NewReservResponse"/>

<xs:element name="NewRuta" type="tns:NewRuta"/>

<xs:element name="NewRutaResponse" type="tns:NewRutaResponse"/>

<xs:element name="getImagHash" type="tns:getImagHash"/>

<xs:element name="getImagHashResponse" type="tns:getImagHashResponse"/>

<xs:element name="getListadoRutas" type="tns:getListadoRutas"/>

<xs:element name="getListadoRutasResponse" type="tns:getListadoRutasResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="EliminarRuta">
<xs:sequence>
<xs:element name="orig" type="xs:string" minOccurs="0"/>
<xs:element name="dest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarRutaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getImagHash">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getImagHashResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarReserva">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarReservaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModRuta">
<xs:sequence>
<xs:element name="orig" type="xs:string" minOccurs="0"/>
<xs:element name="dest" type="xs:string" minOccurs="0"/>
<xs:element name="costo" type="xs:string" minOccurs="0"/>
<xs:element name="tiempo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModRutaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NewRuta">
<xs:sequence>
<xs:element name="orig" type="xs:string" minOccurs="0"/>
<xs:element name="dest" type="xs:string" minOccurs="0"/>
<xs:element name="costo" type="xs:string" minOccurs="0"/>
<xs:element name="tiempo" type="xs:string" minOccurs="0"/>
<xs:element name="piloto" type="xs:string" minOccurs="0"/>
<xs:element name="llave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NewRutaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CargarRersev">
<xs:sequence>
<xs:element name="texto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CargarRersevResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NewReserv">
<xs:sequence>
<xs:element name="cod" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NewReservResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CargarRutas">
<xs:sequence>
<xs:element name="texto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CargarRutasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListadoRutas">
<xs:sequence>
<xs:element name="orig" type="xs:string" minOccurs="0"/>
<xs:element name="dest" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListadoRutasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CargarDestinos">
<xs:sequence>
<xs:element name="texto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CargarDestinosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>